html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: navajowhite;
    padding: 10% 30% 0 30%
}

.component {
    text-align: center
}

.links {
    display: flex;
    justify-content: space-between;
}