body {
    margin: 0;
    // background-color: skyblue;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

$width: 200px;
$height: 200px;

.circle {
    width: 2 * $width;
    height: 2* $height;
    overflow: hidden;
}
.sector {
    width: $width;
    height: $height;
    overflow: hidden;
    position: relative;
    &:nth-child(odd)>.item {
        background-color: #8f2a1e;
        &:hover {
            background-color: gold;
        }
    }
    &:nth-child(even)>.item {
        background-color: #313a31;
        &:hover {
            background-color: gray
        }
    }
    transform-origin: right bottom;
    @for $ind from 1 through 12 {
        &:nth-child(#{$ind}) {
            top: -$height * ($ind - 1);
            transform: rotate(($ind - 1) * 30deg) skew(60deg) ;
            >.item {
                transform: skew(-60deg);
            }
        }
    }
}

.item {
    width: $width;
    height: $height;
    cursor: pointer;
    border-radius: 100% 0 0 0;
    transform-origin: right bottom;
}