body {
    font-family: sans-serif;
    padding: 10px;
}

h2 {
    font-weight: bold;
    display: inline-block;
}

body {
    display: flex;
    margin: 0;
    padding: 0
}

.dataflow {
    height: 100vh;
    min-height: 800px
}

.refresh {
    font-size: 80%;
    margin-left: 10px;
}

.header {
    background: #ECECEC;
    padding: 5px;
}

.suggestions {
    border: 2px solid #ECECEC;
}

li {
    padding: 5px;
    img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    .username,
    .close {
        display: inline-block;
    }
}
